body {
  margin: 0;
  background-image: url(../images/background-light.jpg);
  color: #333333;
}
a {
  color: inherit;
  background-color: transparent;
}
a:visited {
  color: inherit;
}
.container {
  max-width: 960px;
  padding: 0 1em 1.5em;
  margin: 3em auto;
}
p {
  line-height: 1.25;
  text-align: justify;
}
